.hero-heading-wrapper {
  height: 152px;
  width: 632px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.6;
  display: grid;
  font-size: 25px;
  color: white;
  position: absolute;
  top: 40%;
  left: 30%;

  h2 {
    text-align: center;
    color: white;
    span {
      color: #1cc3f1;
    }
  }

  @media (max-width: 1024px) {
    width: 60%;
    left: 20%;
    top: 35%;

    h2 {
      margin: auto;
      font-size: 30px;
    }
  }

  @media (max-width: 768px) {
    width: 80%;
    left: 10%;
    top: 30%;

    h2 {
      margin: auto;
      font-size: 25px;
    }
  }

  @media (max-width: 400px) {
    font-size: 20px;
    top: 40%;
    height: 200px;
    font-size: 20px;
  }
}
