.hero-heading-wrapper {
  height: 152px;
  width: 632px;
<<<<<<< HEAD
  background: #eeeaea;
  opacity: 0.5;
  display: grid;

  font-size: 25px;
  color: #c4c4c4;
  margin: auto;

  h2 {
    // margin: auto;
    span {
      color: #14abf4;
    }
  }
}
=======
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.6;
  display: grid;
  font-size: 25px;
  color: white;
  position: absolute;
  top: 40%;
  left: 30%;

  h2 {
    text-align: center;
    color: white;
    span {
      color: #1cc3f1;
    }
  }

  @media (max-width: 3000px) {
    top: 30%;
    left: 30%;
  }

  @media (max-width: 1024px) {
    top: 22%;
    width: 400px;
  }

  @media (max-width: 768px) {
    width: 80%;
    left: 10%;
    top: 30%;

    h2 {
      margin: auto;
      font-size: 25px;
    }
  }

  @media (max-width: 400px) {
    font-size: 20px;
    top: 40%;
    height: 200px;
    font-size: 20px;
  }
}
>>>>>>> create hero section
