.hero-container {
  margin-top: 100px;
  height: 548px;
  background-image: url("../../images/about.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4); // Darker layer

  @media (max-width: 768px) {
    margin-bottom: -70px;
  }
}
