.image-container {
  width: 100%;
  background-image: url("https://source.unsplash.com/IgUR1iX0mqM");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4); // Darker layer
  height: 351px;
  margin: auto;

  //   @media (max-width: 768px) {
  //     display: none;
  //   }
}

// .description-wrapper {
//   height: 100%;
//   width: 90%;
//   padding: 0 5%;
//   display: grid;
//   grid-template-rows: 20% 50% 30%;
//   border: 1px solid #14abf4;

//   @media (max-width: 768px) {
//     border: none;
//     grid-template-rows: 20% 60% 20%;

//     h2 {
//       font-size: 25px;
//     }

//     p {
//       font-size: 18px;
//       text-align: justify;
//     }

//     button {
//       font-size: 16px;
//     }
//   }

//   h2 {
//     font-size: 30px;
//     justify-self: baseline;
//     padding-top: 15%;
//     color: #2d354c;
//     width: 100%;
//     height: 100%;
//     margin: auto;
//   }
//   p {
//     font-size: 20px;
//     line-height: 30px;
//     margin: auto;
//   }

//   button {
//     width: auto;
//     margin: auto;
//   }
// }

.row-style {
  background: yellow;
  height: 500px;
}

.x {
  background: red;
}
