.actionWrapper {
  height: 300px;
  background-image: url("https://lh3.googleusercontent.com/zbVCyx_1NRu9rGEY_q74C55SWa-nVHcgIex5qamlfXniBr58mtvA2AB89Sz-FI7Rkt3aBwcDCLRkGa8q2by84WwGxwSyhH4yBt7iS3tVj-R6UF_59qFCCUQ78x8X_pBl_1egX-n34A=w2400");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: grid;

  .innerWrapper {
    display: grid;
    margin: auto;
    grid-gap: 20px;

    h2 {
      font-size: 30px;
      color: #eaf3ff;
      font-weight: 200;
      margin: auto;
    }

    p {
      color: #eaf3ff;
      font-size: 18px;
      margin: auto;
      font-weight: 50;
    }

    .button {
      text-decoration: none;
      padding: 5px 20px;
      font-size: 16px;
      font-weight: lighter;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: white;
      border-radius: 3px;
      color: #02b3e4;
      height: 47px;
      margin: auto;
    }

    @media (max-width: 1024px) {
      p {
        text-align: center;
        margin: 0 5%;
      }
    }
  }
}
