html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: #ffffff;
  margin: 0;
}

.layoutWrapper {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 70px;
}
