#top-iframe {
  width: 100%;
  height: 100%;
}

#bottom-iframe {
  height: 100%;
  width: 100%;
}

.top-wrapper {
  height: 650px;

  .top-tutorial {
    height: 40%;

    #top-tutorial {
      height: 100%;
    }

    @media (max-width: 768px) {
      height: 2000px;
    }
  }

  // @media (max-width: 768px) {
  //   .top-wrapper {
  //     height: 2000px;
  //   }

  //   .btm-margin {
  //     margin-bottom: 20px;
  //   }
  // }

  .bottom-section {
    height: 60%;

    .nav-group {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 25px 0;
      .nav-item {
        cursor: pointer;
      }
    }
  }
}

.top-tutorial {
  width: 100%;
}

.header {
  font-size: 25px;
  color: #3b4257;
  padding: 25px;
}

.nav-section-left {
  margin: 0;
}

.nav-row {
  border-bottom: 2px solid #3b4257;
  // background-color: #f7f7f8;
}

.active {
  color: #c4170b;
  font-weight: bold;
}

.tut-div {
  border: none;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.25);
}
.caption {
  border-bottom: 1px solid #3b4257;
  border-left: 1px solid #3b4257;
  border-right: 1px solid #3b4257;
  margin: 0;
  padding-left: 10px;
}
